.nav-link:hover {
    background-color: #9FA2B4;
    opacity: .8;
    border-radius: 4px;
}

.bg-sidebar {
    background-color: #363740;
}

.item-selected {
    background-color: #9FA2B4;
    border-radius: 4px;
}