.image{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center;
    border-radius: 5px;
    cursor: pointer;
}

.image-load{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}